Source: yavdr-sound
Section: base
Priority: extra
Maintainer: Marco Scholl <develop@marco-scholl.de>
Build-Depends: cdbs, debhelper (>= 8.0.0)
Standards-Version: 3.9.2

Package: yavdr-sound
Architecture: all
Depends: ${misc:Depends}, yavdr-base, yavdr-sound-alsa
Description: yavdr sound system

Package: yavdr-sound-alsa
Architecture: all
Depends: ${misc:Depends}, yavdr-base, yavdr-sound, alsa-base, alsa-utils
Description: yavdr sound system for alsa

Package: yavdr-sound-pulseaudio
Architecture: all
Depends: ${misc:Depends}, yavdr-base, yavdr-sound, pulseaudio, pulseaudio-utils, pulseaudio-module-zeroconf, pulseaudio-module-x11, pulseaudio-module-bluetooth
Description: yavdr sound system for pulseaudio
